body {
  font-family: "cabin", "sedan";
}
.header-section {
  width: 100%;
  padding: 30px 0;
  background-color: #351d77;
  color: antiquewhite;
}
/* Reset margin and padding for the ul */
.header-section nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-section nav ul li {
  margin-right: 0 20px;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
}

/* Center the title and h2 */
.header-title h1 .header-title h2 {
  margin-top: 0;
  padding-top: 0;
}
.header-title h1 {
  margin-bottom: 0.5em;
}

/* Add margin to h2 */
.header-title h2 {
  margin-top: 0; /* Adjust as needed */
}

.about,
.skills,
.tools {
  background-color: #ec91c4;
  color: #351d77;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  margin: 20px 0;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.about h2,
.skills h2,
.tools h2 {
  margin-bottom: 20px;
  text-align: center;
}

/* Center the projects section */
#projects {
    text-align: center;
  }
  
  /* Style each project */
  .project {
    background-color: #E8F0E4;
    color: #351D77;
    padding: 40px;
    margin-bottom: 40px;
  }
  
  /* Center the project titles */
  .project h2 {
    text-align: center;
  }
  
  /* Style the project descriptions */
  .project p {
    text-align: left; /* Align text to the left */
  }
  
  /* Style the project links */
  .project h4 {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border: 2px solid #E9B14C;
    color: #351D77;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Hover effect for project links */
  .project h4 a:hover {
    background-color: #E9B14C;
    color: white;
  }
  
  /* Center the project skills */
  .project ul {
    text-align: center; /* Center the bullet points */
  }
  
  .project ul li {
    display: inline-block; /* Display list items inline */
    margin: 0 10px; /* Add margin between list items */
  }
  