/* Base Styles */
html {
  font-size: 16px;
}

body {
  font-family: "Kaisei HarunoUmi", "Margarine", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Kaisei HarunoUmi", sans-serif;
}

p {
  font-family: "Margarine", sans-serif;
  margin: 0.3125rem 0;
}

a {
  font-weight: bold;
}

/* Layout */
.container {
  max-width: 100%;
  margin: 0 auto;
}

/* Header */
header {
  background-color: #351d77;
  color: #cac4d1;
  padding: 1.875rem 0;
}

.header-section {
  padding: 1.875rem;
}

.header-section nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-section nav ul li {
  margin-right: 0.625rem;
}

.header-title {
  text-align: center;
  margin-top: 1.25rem;
  padding-top: 1.25rem;
}

.header-title h1 {
  font-size: 3rem;
}
.header-title h2 {
  font-size: 2rem;
}

/* Navigation */
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 0.625rem;
}

nav ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 0.625rem 1.25rem;
  background-color: #ec91c4;
  color: #1c1c1c;
  border-radius: 1.5625rem;
}

nav ul li a:hover {
  background-color: #ec6eb6;
}

/* Sections */
section {
  padding: 2.5rem 0;
  text-align: center;
}

/* About Section */
#about {
  background-color: #eee4f0;
}

#about h2 {
  font-size: 3rem;
}

#about h2::after {
  content: "";
  display: block;
  width: 80%;
  height: 0.0625rem;
  background: linear-gradient(to right, #e3cae7, #351d77);
  margin: 0.625rem auto;
}

#about p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 50rem;
}

/* Languages and Skills Section */
#languages-skills {
  background-color: #e3cae7;
  padding: 5rem 0; /* Add padding to the top and bottom */
}

.languages-panel h2,
.skills-panel h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  padding: 2rem;
}

.languages-panel h2::after,
.skills-panel h2::after {
  content: "";
  display: block;
  width: 80%;
  height: 0.0625rem;
  margin: 0.625rem auto;
  animation: lineFadeIn 0.5s ease-in-out forwards;
}

.languages-panel h2::after {
  background: linear-gradient(to right, #e3cae7, #351d77);
}

.skills-panel h2::after {
  background: linear-gradient(to right, #806e9b, #1c1c1c);
}

.languages-list,
.skills-list {
  list-style: none; /* Remove bullet points */
  display: flex;
  justify-content: center;
  gap: 4rem; /* Increase the gap between icons */
  flex-wrap: wrap;
}

.languages-list li,
.skills-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.languages-list li img,
.skills-list li img {
  width: 3.125rem;
  height: auto;
  margin-bottom: 0.5rem;
}

.languages-list li p,
.skills-list li p {
  margin: 0;
  font-size: 1.2rem;
}

/* Projects Section */
#projects {
  background-color: #8f75d8;
  color: #1c1c1c;
}

#projects h2 {
  font-size: 3rem;
}

#projects h2::after {
  content: "";
  display: block;
  width: 80%;
  height: 0.0625rem;
  margin: 0.625rem auto;
  animation: lineFadeIn 0.5s ease-in-out forwards;
  background: linear-gradient(to right, #eee4f0, #1c1c1c);
}

#projects h4 {
  font-size: 2.5rem;
}

.section-title {
  margin-bottom: 2.5rem;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Ensure equal spacing between items */
  gap: 2.5rem;
}

.project-item {
  padding: 1.25rem;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.project-item {
  width: calc(50% - 20px);
  padding: 1.25rem;
  box-sizing: border-box;
  text-align: center;
}

.project-item h4 {
  margin-bottom: 1rem; /* Reduce margin bottom */
}

.project-item img {
  width: 75%; /* Reduce image size */
  height: auto;
  max-width: 100%;
  max-height: 300px;
  margin-bottom: 1.25rem;
  transition: transform 0.3s ease; /* Add transition */
}

.project-item img:hover {
  transform: scale(1.05) rotate(2deg); /* Scale and rotate image on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add box shadow effect */
}

.project-item p {
  font-size: 1.25rem;
  margin: 0 0 0.625rem;
}

.project-item a {
  font-size: 1.3rem;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 1rem;
  background-color: #e57373;
  color: #1c1c1c;
  border-radius: 1.562rem;
}

.project-item a:hover {
  background-color: #e9b14c;
  color: white;
}

.project-item ul {
  list-style-type: none;
  padding: 1.25rem 0 1.5rem;
  margin: 0;
}

.project-item ul li {
  margin: 0.625rem;
  font-size: 1.625rem;
  font-family: "Margarine", cursive;
}

.project-item ul li:before {
  content: "\2022";
  color: #351d77;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Footer */
footer {
  background-color: #626066;
  color: #cac4d1;
  padding: 5rem;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.contact-info,
.follow-me,
.location {
  flex: 1;
  text-align: center;
  margin-bottom: 30px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  margin: 0 0.9375rem;
}

.social-icons img {
  height: 2.5rem;
  width: auto;
}

.copywrite {
  text-align: center;
  padding: 3.75rem 0;
}

@keyframes lineFadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
