body {
  font-family: "cabin", "sedan";
  width: 100%;
}

.header-section {
  padding: 30px 0;
}

.header-section nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-section nav ul li {
  margin-right: 20px;
}

.header-title {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}
.header-title h1 {
  margin-bottom: 0.5em;
}

/* Add margin to h2 */
.header-title h2 {
  margin-top: 0;
}

/* About Section Styles */
#about {
  background-color: #eee4f0;
  color: #351d77;
  padding: 40px 0;
  text-align: center;
  position: relative;
}

#about h2 {
  margin-bottom: 20px;
  position: relative;
}

#about h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 1px;
  background-color: rgb(117, 47, 163);
}

#about p {
  margin: 40px 0;
}

/* Languages and Skills Section Styles */
#languages-skills {
  background-color: #f0a6d0;
  color: #1e3f66;
  padding: 40px 0;
}

.languages-panel h2,
.skills-panel h2 {
  margin-bottom: 20px;
  text-align: center;
}

.languages-panel,
.skills-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.languages-list,
.skills-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
}

.languages-list li img,
.skills-list li img {
  width: 50px;
  height: auto;
}

/* Projects Section Styles */
#projects {
  background-color: #e8f0e4;
  color: #351d77;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
  margin: 20px 0;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.skills h2 {
  margin-bottom: 20px;
  text-align: center;
}

.skills-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills-list li {
  text-align: center;
  margin: 10px;
}

.skills-list li img {
  width: 50px;
  height: 50px;
}

/* Center the projects section */
#projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #E8F0E4;
  color: #351D77;
  overflow: hidden;
}

/* Style each project */
.project {
width: 45%;
margin: 20px;
padding: 20px;
box-sizing: border-box;
}

.project img {
  width: 150px;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

/* Center the project titles */
.project h2, 
.project p {
  text-align: center;
  margin: 0 0 10px;
}

/* Style the project links */
.project h4 {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  border: 2px solid #e9b14c;
  color: #351d77;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover effect for project links */
.project h4 a:hover {
  background-color: #e9b14c;
  color: white;
}

.project-item ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.project ul li {
  margin: 20px; /* Add margin between list items */
}

.project-item ul li:before {
  content: "\2022";
  color: #351d77;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.project-2 {
  width: 45%;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-icons a {
  width: 50px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}